<div class="main-container">
  <div class="form-inline">
    <h1 class="text-center "><%= t ".word-list" %></h1>
  </div>
  <div class="search-form">
    <%= render "filter_form" %>
  </div>
  <div id="new-word">
    <a href="<%= new_admin_word_path %>" class="pull-right">
      <button class="btn btn-primary"><%= t ".add-new" %></button>
    </a>
  </div>
  <% if @words.any? %>
    <div id="words-container">
      <%= render @words %>
    </div>
    <div class="pagination-container text-center">
      <%= will_paginate @words %>
    </div>
  <% else %>
    <h2><%= t ".no-record-found" %></h2>
  <% end %>
</div>


