<% provide :title, t("sign_up") %>
<div id="content">
  <div class="whereheader">
    <%= link_to t("sign_up"), "#", class: "large" %>
    <ul>
      <li><%= link_to t("sign_in"), "#" %></li>
      <li class="last"><%= link_to t("sign_up"), "#" %></li>
    </ul>
  </div>
  <div id="signupform">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-sign">
        <h2><%= t "sign_up" %></h2>
        <%= f.text_field :fullname, placeholder: t("full_name_placeholder") %>
        <%= f.email_field :email, placeholder: t("email_placeholder") %>
        <%= f.password_field :password,
          placeholder: t("password_placeholder") %>
        <%= f.password_field :password_confirmation,
          placeholder: t("password_confirmation_placeholder") %>
        <div class="gender">
          <%= f.select :gender, [[t("male"), true], [t("female"), false]] %>
        </div>
        <%= f.submit t("sign_up") %>
        <div class="remind">
          <span>
            <%= t "remind_sign_up" %>
            <%= link_to t("sign_up"), "#" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
