<% provide :title, @user.fullname %>
<div id="content">
  <div class="whereheader">
    <% if logged_in? %>
      <%= link_to t("activity"),
        @user, class: "large" %>
    <% else %>
      <%= link_to "#{t("profile_of")} #{@user.fullname}",
        @user, class: "large" %>
    <% end %>
  </div>
  <div id="profileform">
    <div class="left_form">
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
      </div>
      <div class="information">
        <h1><%= label_tag "name", @user.fullname, class: "name" %><h1>
        <h3><%= label_tag "name", @user.email, class: "email" %></h3>
      </div>
      <div class="follower_followed text-center">
        <%= render "stats" %>
        <% unless current_user.is? @user %>
          <%= render "follow_form" %>
        <% end %>
      </div>
    </div>
    <div class="right_form">
      <ul class="timeline">
      <% @user.activities.each do |activity| %>
        <li>
          <p class="timeline-date"></p>
            <div class="timeline-content">
            <h3></h3>
          <p><%= activity.load_activity activity.action_type %></p>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
  <div id="clearfix">This is hidden</div>
</div>
