<aside>
  <div id="menu">
    <ul>
      <li id="home" class="nav"><a href="#"><%= t "home_page" %></a></li>
      <li id="login" class="nav"><a href="#"><%= t "sign_in" %></a></li>
      <li id="register" class="nav"><a href="#"><%= t "sign_up" %></a></li>
      <li id="find" class="nav"><a href="#"><%= t "find" %></a></li>
      <li id="info" class="nav"><a href="#"><%= t "info" %></a></li>
      <li id="history" class="nav"><a href="#"><%= t "contact" %></a></li>
      <li id="category" class="nav">
        <%= link_to t("admin.categories.name-singular"),
          admin_categories_path %>
      </li>
    </ul>
  </div>
</aside>
