<aside>
  <div id="menu">
    <ul>
      <% if logged_in? %>
        <li id="home" class="nav">
          <%= link_to t("home_page"), current_user %>
        </li>
        <li id="logout" class="nav"><%= link_to t("sign_out"),
          session_path(current_user), method: :delete %>
        </li>
        <li id="allusers" class="nav">
          <%= link_to t("all_users"), root_path %>
        </li>
        <li id="info" class="nav"><%= link_to t("profile"),
          edit_user_path(current_user) %></li>
        <li id="history" class="nav"><%= link_to t("contact"), "#" %></li>
        <li id="category" class="nav">
          <% if current_user.is_admin? %>
            <%= link_to t("admin.categories.name-singular"),
              admin_categories_path %>
          <% else %>
            <%= link_to t("category_title"),
              categories_path %>
          <% end %>
        </li>
      <% else %>
        <li id="home" class="nav"><%= link_to t("home_page"), root_path %></li>
        <li id="login" class="nav">
          <%= link_to t("sign_in"), new_session_path %></li>
        <li id="register" class="nav">
          <%= link_to t("sign_up"), new_user_path %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
